<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Acceuil</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="top">
        <!-- Title -->
        <p class="top-title">Verbs</p>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/fr/home" class="top-button-active">Acceuil</a>
            <a href="/fr/translation" class="top-button">Traduction</a>
            <a href="/fr/imperfect" class="top-button">Imparfait</a>
            <a href="/fr/participle" class="top-button">Participe passé</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="content">
        <h1>Bienvenue sur Verbs</h1>
        <p>Ce site permet de réviser les verbes irréguliers anglais et néerlandais.
            <br>Il y a différents modes disponibles :
            <br>- Traduction : traduire le verbe dans l'autre langue.
            <br>- Infinitif : trouver l'infinitif du verbe.
            <br>- Participe passé : trouver le participe passé du verbe.
            <br>- Imparfait : trouver l'imparfait du verbe.
        </p>
    </div>
    

    <div class="bottom">
        <p class="bottom-component copyright">© 2023 Pierre-Yves Haubruge</p>
        <a class="bottom-component" href="/fr/terms">Conditions d'utilisation</a>
        <a class="bottom-component" href="/fr/privacy">Politique de confidentialité</a>
    </div>

</body>

</html>