<!DOCTYPE html>
<html lang="en">

<head>
    <title>Privacy Policy</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="top">
        <!-- Title -->
        <p class="top-title">Verbs</p>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/en/home" class="top-button">Home</a>
            <a href="/en/translation" class="top-button">Translation</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="terms-privacy">
        <h1>Privacy Policy</h1>

        <p>Last Updated: July 27, 2023</p>

        <p>This Privacy Policy explains what data is collected by the site and how it is processed.</p>

        <h2>Personal Data</h2>

        <p>The application does not collect any personal data.</p>

        <h2>Cookies</h2>

        <p>The application collects cookies to save your preferences: the chosen theme (light or dark) and the selected
            language. You can delete these cookies at any time by following the procedure defined by your browser.</p>

        <h2>Changes</h2>

        <p>We reserve the right to update or modify this Privacy Policy at any time. Updates will be posted on this page.</p>

        <h2>Contact Us</h2>

        <p>If you have any questions or concerns regarding this Privacy Policy or any aspect of our data practices, please
            contact us at <a href="mailto:byp.studio.dev@gmail.com">byp.studio.dev@gmail.com</a>.</p>
    </div>

    <div class="bottom">
        <p class="bottom-component copyright">© 2023 Pierre-Yves Haubruge</p>
        <a class="bottom-component" href="/en/terms">Terms of services</a>
        <a class="bottom-component active" href="/en/privacy">Privacy policy</a>
    </div>
</body>

</html>
