<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="top">
        <!-- Title -->
        <p class="top-title">Verbs</p>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/nl/home" class="top-button-active">Home</a>
            <a href="/nl/translation" class="top-button">Vertaling</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="content">
        <h1>Welkome op Verbs</h1>
        <p>Met deze site kun je onregelmatige werkwoorden in het Engels en Nederlands oefenen.
            <br>Er zijn verschillende modi beschikbaar:
            <br>- Vertaling: vertaal het werkwoord in de andere taal
            <br>- Infinitief: zoek de infinitief van het werkwoord.
            <br>- Verleden deelwoord: zoek het verleden deelwoord van het werkwoord.
            <br>- Imperfecte tijd: zoek de imperfecte tijd van het werkwoord.
        </p>
    </div>
    

    <div class="bottom">
        <p class="bottom-component copyright">© 2023 Pierre-Yves Haubruge</p>
        <a class="bottom-component" href="/conditions-utilisation">Gebruiksvervangenis</a>
        <a class="bottom-component" href="/politique-de-confidentialité">Privee dingen</a>
    </div>

</body>

</html>