<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Privacybeleid</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="top">
        <!-- Title -->
        <p class="top-title">Verbs</p>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/nl/home" class="top-button">Home</a>
            <a href="/nl/translation" class="top-button">Vertaling</a>
            <a href="/nl/imperfect" class="top-button">OVT</a>
            <a href="/nl/participle" class="top-button">Voltoid deelwoord</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="terms-privacy">
        <h1>Privacybeleid</h1>

        <p>Laatst bijgewerkt: 28 juli 2023</p>

        <p>Dit privacybeleid legt uit welke gegevens worden verzameld door de site en hoe deze worden verwerkt.</p>

        <h2>Persoonsgegevens</h2>

        <p>De applicatie verzamelt geen persoonsgegevens.</p>

        <h2>Cookies</h2>

        <p>De applicatie verzamelt cookies om uw voorkeuren op te slaan (thema, taal, enz.), evenals cachegegevens 
            om de laadtijden te verkorten en de site gebruiksvriendelijker te maken. U kunt deze cookies op elk gewenst 
            moment verwijderen door de procedure te volgen die door uw browser is gedefinieerd.</p>

        <h2>Wijzigingen</h2>

        <p>Wij behouden ons het recht voor om dit privacybeleid op elk moment bij te werken of te wijzigen. Updates worden op
            deze pagina gepubliceerd.</p>

        <h2>Contact</h2>

        <p>Als u vragen of zorgen heeft over dit privacybeleid of over enig ander aspect van onze gegevensverwerking, neem dan
            contact met ons op via <a href="mailto:byp.studio.dev@gmail.com">byp.studio.dev@gmail.com</a>.</p>

    </div>

    <div class="bottom">
        <p class="bottom-component copyright">© 2023 Pierre-Yves Haubruge</p>
        <a class="bottom-component" href="/nl/terms">gebruiksvoorwaarden</a>
        <a class="bottom-component active" href="/nl/privacy">privacybeleid</a>
    </div>
</body>

</html>
