<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/exercise.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="top">
        <!-- Title -->
        <p class="top-title">Verbs</p>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/nl/home" class="top-button">Home</a>
            <a href="/nl/translation" class="top-button-active">Vertaling</a>
            <a href="/nl/imperfect" class="top-button">OVT</a>
            <a href="/nl/participle" class="top-button">Voltoid deelwoord</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="content">
        <h1>Vertaling</h1>
        <div class="lang-select">
            <p class="" id="swap-keeper">Begin taal :</p>
            <select name="language" id="element1">
                <option value="en">Engels</option>
                <option value="nl">Nederlands</option>
            </select>
        </div>
        <img src="{{ url_for('static', filename='images/swap.png') }}" alt="swap" class="lang-select swap" id="swap-button">
        <div class="lang-select">
            <p>Langue d'arrivée :</p>
            <p id="element2">Frans</p>
        </div>
        <input type="submit" value="Beginnen" class="begin" id="begin">
    </div>
    

    <div class="bottom">
        <p class="bottom-component copyright">© 2023 Pierre-Yves Haubruge</p>
        <a class="bottom-component" href="/nl/terms">gebruiksvoorwaarden</a>
        <a class="bottom-component" href="/nl/privacy">privacybeleid</a>
    </div>
</body>

</html>